<div id="saveSessionContainer">
    <form id="saveSessionForm">
        <input type="text" placeholder="Session Name"/>
        <input type="submit" value="Save"/>
    </form>
    <ul class="windowAndTabList">

    </ul>
</div>